<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container-fluid">
      <!-- Copyright Text -->
      <h6 class="navbar-text mb-0">&copy; Copyright 2025 Aadil</h6>
      
      <!-- GitHub & LinkedIn Links (Required by Assignment) -->
      <div class="navbar-text">
        <a href="https://github.com/YOUR_USERNAME" target="_blank" class="text-light me-3">
          <i class="fab fa-github"></i> GitHub
        </a>
        <a href="https://linkedin.com/in/YOUR_USERNAME" target="_blank" class="text-light">
          <i class="fab fa-linkedin"></i> LinkedIn
        </a>
      </div>
    </div>
  </nav>
</footer>