<%- include ./partials/header.ejs %>
<%- include ./partials/main_nav.ejs %>

<main class="container mt-5">
  <section id="about">
    <h1 class="display-4"><%= title %></h1>
    <hr>
    
    <div class="row">
      <div class="col-md-4 text-center">
        <img src="/Asset/images/me.jpg" alt="My Photo" class="img-fluid shadow-sm mb-3">
      </div>
      <div class="col-md-8">
        <p id="first" class="lead">Hi i'm Aadil, I like many things which some include soccer, coding, playing video games. </p>
        <h2 class="mt-4">Introduction Video</h2>
        <div class="ratio ratio-16x9">
          <video controls poster="/Asset/images/poster.jpg">
            <source src="/Asset/videos/intro.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>
  </section>
</main>

<%- include ./partials/footer.ejs %>