<%- include ./partials/header.ejs %>
<%- include ./partials/main_nav.ejs %>

<main class="container mt-5">
  <section id="home">
    <h1 class="display-4"><%= title %></h1>
    <hr>
    
    <p class="lead">Hello! I’m Aadil, this is my portfolio where i'm displaying my hobbies, projects, and contact info.</p>
  </section>
</main>

<%- include ./partials/footer.ejs %>